<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,                  Microsoft.Practices.Unity.Configuration"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="BookStoreEntityModelContainer" connectionString="metadata=res://*/BookStoreEntityModel.csdl|res://*/BookStoreEntityModel.ssdl|res://*/BookStoreEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BookStore;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,                      Microsoft.Practices.Unity"/>
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,                      Microsoft.Practices.Unity"/>
      <!-- Custom object types -->
      <typeAlias alias="IUserProvider" type="BookStore.Business.Components.Interfaces.IUserProvider, BookStore.Business.Components.Interfaces"/>
      <typeAlias alias="UserProvider" type="BookStore.Business.Components.UserProvider, BookStore.Business.Components"/>
      <typeAlias alias="ICatalogueProvider" type="BookStore.Business.Components.Interfaces.ICatalogueProvider, BookStore.Business.Components.Interfaces"/>
      <typeAlias alias="CatalogueProvider" type="BookStore.Business.Components.CatalogueProvider, BookStore.Business.Components"/>
      <typeAlias alias="IOrderProvider" type="BookStore.Business.Components.Interfaces.IOrderProvider, BookStore.Business.Components.Interfaces"/>
      <typeAlias alias="OrderProvider" type="BookStore.Business.Components.OrderProvider, BookStore.Business.Components"/>
      <typeAlias alias="IRoleProvider" type="BookStore.Business.Components.Interfaces.IRoleProvider, BookStore.Business.Components.Interfaces"/>
      <typeAlias alias="RoleProvider" type="BookStore.Business.Components.RoleProvider, BookStore.Business.Components"/>
    </typeAliases>
    <containers>
      <container name="containerOne">
        <types>
          <type type="IUserProvider" mapTo="UserProvider"/>
          <type type="ICatalogueProvider" mapTo="CatalogueProvider"/>
          <type type="IOrderProvider" mapTo="OrderProvider"/>
          <type type="IRoleProvider" mapTo="RoleProvider"/>
        </types>
      </container>
    </containers>
  </unity>
  <appSettings>
    <add key="ServiceAssemblyName" value="BookStore.Services"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="BookStore.Services.UserService" behaviorConfiguration="ServiceMetadataBehavior">
        <endpoint address="net.tcp://localhost:9010/UserService" binding="netTcpBinding" contract="BookStore.Services.Interfaces.IUserService"/>
        <endpoint address="net.tcp://localhost:9010/UserService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="BookStore.Services.CatalogueService" behaviorConfiguration="ServiceMetadataBehavior">
        <endpoint address="net.tcp://localhost:9010/CatalogueService" binding="netTcpBinding" contract="BookStore.Services.Interfaces.ICatalogueService"/>
        <endpoint address="net.tcp://localhost:9010/CatalogueService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="BookStore.Services.OrderService" behaviorConfiguration="ServiceMetadataBehavior">
        <endpoint address="net.tcp://localhost:9010/OrderService" binding="netTcpBinding" contract="BookStore.Services.Interfaces.IOrderService"/>
        <endpoint address="net.tcp://localhost:9010/OrderService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="BookStore.Services.RoleService" behaviorConfiguration="ServiceMetadataBehavior">
        <endpoint address="net.tcp://localhost:9010/RoleService" binding="netTcpBinding" contract="BookStore.Services.Interfaces.IRoleService"/>
        <endpoint address="net.tcp://localhost:9010/RoleService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMetadataBehavior">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
